<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-headerex">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1 class="name prop">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            <label>Name</label>
        </h1>
        <div class="sub-header">
            <div class="prop wide">
                <div class="resource">
                    <select name="data.defaultAbility" type="text" data-dtype="number" />
                    {{#select data.defaultAbility}}
                    <option value="None">None</option>
                    <option value="Accuracy">Accuracy</option>
                    <option value="Communication">Communication</option>
                    <option value="Constitution">Constitution</option>
                    <option value="Dexterity">Dexterity</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Intelligence">Intelligence</option>
                    <option value="Perception">Perception</option>
                    <option value="Strength">Strength</option>
                    <option value="Willpower">Willpower</option>
                    {{/select}}
                    </select>
                    <span>(</span>
                    <input name="data.focus" type="text" value="{{data.focus}}" data-dtype="string" />
                    <span>)</span>
                </div>
                <label for="data.focus">Ability(Focus)</label>
            </div>
            <div class="prop">
                <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="string" />
                <label for="data.damage">Damage</label>
            </div>
            <div class="prop">
                <select name="data.attackRoll" type="text" data-dtype="string" />
                {{#select data.attackRoll}}
                <option value="None">None</option>
                <option value="Accuracy">Accuracy</option>
                <option value="Communication">Communication</option>
                <option value="Constitution">Constitution</option>
                <option value="Dexterity">Dexterity</option>
                <option value="Fighting">Fighting</option>
                <option value="Intelligence">Intelligence</option>
                <option value="Perception">Perception</option>
                <option value="Strength">Strength</option>
                <option value="Willpower">Willpower</option>
                {{/select}}
                </select>
                <label for="data.attackRoll">+ Ability</label>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="stat-row">
            <div class="prop">
                <input type="text" name="data.shortRange" value="{{data.shortRange}}" data-dtype="string" />
                <label for="data.shortRange">Short Range</label>
            </div>
            <div class="prop">
                <input type="text" name="data.longRange" value="{{data.longRange}}" data-dtype="string" />
                <label for="data.longRange">Long Range</label>
            </div>
            <div class="prop">
                <select name="data.reloadTime" data-dtype="number">
                    {{#select data.reloadTime}}
                    <option value="0">None</option>
                    <option value="1">Minor Action</option>
                    <option value="2">Major Action</option>
                    {{/select}}
                </select>
                <label for="data.reloadTime">Reload Time</label>
            </div>
            <div class="prop">
                <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="number" />
                <label for="data.cost">Cost</label>
            </div>
        </div>
        <div class="wide-section">
            <h3>Description</h3>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>